$_logo_height: 80px;

footer {
  padding-left: 0;
  padding-right: 0;
  background: darken($color-bg2, 5%);
  color: $color-text;
  border-top: solid 2px $color-primary;

  & .site-logo {
    & .logo {
      height: $_logo_height;
      vertical-align: bottom;
    }

    & h3 {
      display: inline;
      padding-left: $rem-1 * 0.25;
    }
  }

  & ul.nav {
    display: flex;
    padding-left: $rem-1;

    & li {
      list-style: none;
      margin: $rem-1 * 0.25;
    }
  }

  & .mini-footer {
    & .search {
      position: relative;
      display: flex;
      align-items: stretch;
      justify-content: center;

      & input[type="search"] {
        width: 60%;
      }
    }
  }
}
