$_logo_lg_height: 140px;
$_logo_sm_height: 50px;

header {
    padding-left: 0;
    padding-right: 0;
    background: $white;
    border-bottom: solid 2px $color-primary;

    & .site-logo {
        & h2 {
            display: inline;
            padding-left: $rem-1 * 0.25;
        }
    }

    & .mini-header {
        height: 100%;
        display: flex;
        background-color: $color-primary;
        color: $white;
        align-items: center;

        & > * {
            flex-grow: 5;
        }

        & > *:first-child, & > *:last-child {
            flex-grow: 0;
        }

        & .toggler {
            position: relative;
            padding: $rem-1 * 0.5 $rem-1 * 0.8;
            vertical-align: middle;
            color: $white;
            font-size: $rem-1 * 1.5;

            & .badge {
                position: absolute;
                width: 18px;
                background-color: $color-warning;
                border-radius: 50%;
                right: 5px;
                bottom: 5px;
                font-size: $rem-1 * 0.6;
            }
        }

        & > *:first-child .toggler {
            font-size: $rem-1 * 1.2;
        }

        & .site-logo {
            & .logo {
                height: $_logo_sm_height;
                vertical-align: bottom;
            }

            & h2 {
                display: inline;
                padding-left: $rem-1 * 0.25;
                font-weight: $font-weight-normal;
            }
        }
    }
}
