@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}

@mixin transform( $value ) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transform: $value;
    }
}

@mixin transition($values...) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transition: $values;
    }
}

@mixin animation($values...) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}animation: $values;
    }
}

@mixin placeholder($color) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}input-placeholder: {
            color: $color;
        }
    }
}

@mixin userselect($value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}user-select: $value;
    }
}

@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin visually-hidden() {
    font: 0/0 a !important;
    color: transparent !important;
    text-shadow: none !important;
    background-color: transparent !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

@mixin caret-down {
    border-top: $rem-1 * .3 solid;
    border-right: $rem-1 * .3 solid transparent;
    border-bottom: 0;
    border-left: $rem-1 * .3 solid transparent;
}

@mixin caret-up {
    border-top: 0;
    border-right: $rem-1 * .3 solid transparent;
    border-bottom: $rem-1 * .3 solid;
    border-left: $rem-1 * .3 solid transparent;
}

@mixin caret-right {
    border-top: $rem-1 * .3 solid transparent;
    border-bottom: $rem-1 * .3 solid transparent;
    border-left: $rem-1 * .3 solid;
}

@mixin caret-left {
    border-top: $rem-1 * .3 solid transparent;
    border-right: $rem-1 * .3 solid;
    border-bottom: $rem-1 * .3 solid transparent;
}

@mixin caret($direction: down) {
    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: $rem-1 * .3 * .85;
        vertical-align: $rem-1 * .3 * .85;
        content: "";

        @if $direction == down {
            @include caret-down;
        }
        @else if $direction == up {
            @include caret-up;
        }
        @else if $direction == right {
            @include caret-right;
        }
    }

    @if $direction == left {
        &::after {
            display: none;
        }

        &::before {
            display: inline-block;
            width: 0;
            height: 0;
            margin-right: $rem-1 * .3 * .85;
            vertical-align: $rem-1 * .3 * .85;
            content: "";
            @include caret-left;
        }
    }

    &:empty::after {
        margin-left: 0;
    }
}
