.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;

        & li {

            margin: 0;
            padding: 0;

            & a {
                position: relative;
                display: inline-block;
                padding: $rem-1 * 0.25 $rem-1 * 0.375;
                margin-left: -1px;
                line-height: 1.25;
                color: $color-text;

                &:hover, &:focus {
                    color: $color-primary;
                    text-decoration: none;
                }
                // Opinionated: add "hand" cursor to non-disabled .page-link elements
                &:not([disabled]):not(.disabled) {
                    cursor: pointer;
                }
            }

            &.active a {
                z-index: 1;
                color: $color-primary;
            }

            &.disabled a {
                color: $gray-500;
                pointer-events: none;
                // Opinionated: remove the "hand" cursor set previously for .page-link
                cursor: auto;
            }
        }
    }
}
